<footer class="footer">
  <div class="tittle__footer">
    <h3 class="title__big">A cerca de:</h3>
    <div class="class__parraf">
      <p><a routerLink="/aboutus" class="links">Acerca de nosotros.</a></p>
      <p><a routerLink="/contact" class="links">Contactate con nosotros.</a></p>
      <p><a routerLink="/conditions" class="links">Política de privacidad.</a></p>
      <p><a routerLink="/conditions" class="links">terminos y condiciones.</a></p>
    </div>
  </div>
  <div class="tittle__footer">
    <h3 class="title__big">Ayuda:</h3>
    <div class="class__parraf">
      <p>Entrega y devoluciones.</p>
      <p>Política de cookies.</p>
      <p>Mapa del sitio.</p>
      <p>FAQs.</p>
    </div>
  </div>
  <div class="tittle__footer">
    <h3 class="title__big">Social:</h3>
    <div class="class__parraf">
      <a class="links"
         href="https://www.facebook.com/ManufacturasMary"
         target="_blank"
         rel="noopener noreferrer"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a class="links"
         href="https://www.facebook.com/ManufacturasMary"
         target="_blank"
         rel="noopener noreferrer">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a class="links"
      href="https://www.facebook.com/ManufacturasMary"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="links"
         href="https://www.facebook.com/ManufacturasMary"
         target="_blank"
         rel="noopener noreferrer">
      <i class="fa-brands fa-youtube"></i>
      </a>
      <p>Medios de pago</p>
      <div class="img_payment">
        <img
          src="https://cdn.glitch.global/0f17c0ed-3f02-4594-8934-bb3f636c28fd/nequi.png?v=1649044551704"
          alt=""
          class="slider__images"
        />
        <img
          src="https://cdn.glitch.global/0f17c0ed-3f02-4594-8934-bb3f636c28fd/davip.png?v=1649044551704"
          alt=""
          class="slider__images"
        />
        <img
          src="https://cdn.glitch.global/0f17c0ed-3f02-4594-8934-bb3f636c28fd/bancolo.png?v=1649044551703"
          alt=""
          class="slider__images"
        />
        <img
          src="https://cdn.glitch.global/0f17c0ed-3f02-4594-8934-bb3f636c28fd/Paypal.png?v=1649044551704"
          alt=""
          class="slider__images"
        />
      </div>
    </div>
  </div>
</footer>
