<app-carousel [carouselData]="carouselData"></app-carousel>
<!-- Productos -->
<section class="container-products">
  <app-product-card [listProducts]="productList"></app-product-card>
</section>
<!-- Parte de abajo -->
<div class="container2">
  <div class="container__endmain">
    <div class="endmain__item">
      <img
        src="assets/images/slider/soldados5.webp"
        alt=""
        class="endmain__img"
      />
      <p class="editor__circle">Hecho en Colombia con amor...</p>
    </div>
    <div class="endmain__item">
      <div class="imagen__grande">
        <img
          src="assets/images/slider/soldados6.jpg"
          alt=""
          class="endmain__img"
        />
        <p class="editor__circle">Tú decides el estilo que quieres llevar</p>
      </div>
    </div>
  </div>
</div>
