/* @import "~bootstrap/dist/css/bootstrap.css"; */

.image {
  width: 100%;
  height: auto;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5); /* Un color negro semitransparente */
  position: absolute;
}
.content {
  height: 1000px;
}
/*Zona para Slider*/

.container {
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  width: 100%;
}
.carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
}
.title {
  margin-top: 20%;
  color: white;
  z-index: 99;
  font-size: 100px;
}
.message {
  color: white;
  z-index: 99;
  font-size: 40px;
}

.slider2_btn {
  display: block;
  text-align: center;
  border: 1px solid #ff4e00;
  color: rgb(240, 136, 0);
  padding: 10px;
  width: 150px;
  margin: 1px auto;
  border-radius: 3%;
  transition: all 0.5s;
  z-index: 99;
  background-color: white;
}

.slider2_btn:hover {
  /*dEFINE EL COLOR QUE VA TENER CUANDO EL BOTÓN PASA POR ENCIMA*/
  z-index: 99;
  background: orange;
  color: white;
}
/* Estilo para pantallas más pequeñas, por ejemplo, dispositivos móviles */
@media screen and (max-width: 767px) {
  .image {
    max-height: 300px; /* Ajusta la altura máxima para pantallas pequeñas */
  }
  .content {
    max-height: 300px;
  }
  .title {
    font-size: 30px;
  }
  .message {
    font-size: 20px;
  }
}

/* Estilo para pantallas más grandes, por ejemplo, tablets y desktops */
@media screen and (min-width: 768px) {
  .image {
    max-height: 1200px; /* Ajusta la altura máxima para pantallas más grandes */
  }
  .content {
    max-height: 1200px;
  }
}
